.ui-panelgrid {
	border-collapse: inherit;	
}

.ui-panelgrid .ui-panelgrid-cell {
	border-collapse: separate;
	border-width: 0px !important;
	border-style: none !important;
}

.separarTopo {
	margin-top: 5%;
}