.ui-panelgrid {
	border-collapse: inherit;	
}

/* .ui-inputfield { */
/* 	margin-right: 1%; */
/* } */

.ui-panelgrid .ui-panelgrid-cell {
	border-collapse: separate;
	border-width: 0px;
	border-style: none;
}