.ui-panelgrid {
	border-collapse: inherit;	
}

.ui-panelgrid .ui-panelgrid-cell {
	border-collapse: separate;
	border-width: 0px !important;
	border-style: none !important;
}

.separarTopo {
	margin-top: 5%;
}

.btnEditar {
	margin: 2% 0% 0% 72%;
}

.btnCadastrar {
	margin: 2% 0% 0% 36%;
}

.btnProcurar {
	width: 25% !important;
    height: 30px !important;
}