.centralizar {
	margin-top: 20%;
}









/* .centralizar {
    width: 50%;
    margin-left: 30%;
    margin-top: 30%;
}



.ui-panelgrid-cell {
	width: 20%;
}

.ui-button {
	margin-left: 50%;
} */

/* .ui-widget-content { */
/* 	border: none; */
/* } */