.centralizar {
	margin-top: 20%;
}

.ui-button {
	margin-top: 1%; 
	margin-left: 5%;
	width: 12%;
}

.ui-widget-content {
	border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-collapse: separate;
	border-width: 0px;
	border-style: none;
}