.centralizar {
	margin-top: 20%;
}

.botaoLogin {
	margin: 1% 0% 0% 6%; 
	width: 12%;
}

.ui-widget-content {
	border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-collapse: separate;
	border-width: 0px;
	border-style: none;
}